#sidebar {
    &.active {
        .sidebar-wrapper {
            left: 0;
        }
    }
    &:not(.active) {
        & ~ #main {
            margin-left: 0;
        }
    }
}
.sidebar-wrapper {
    width: 260px;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: rgb(182, 88, 158);
    bottom: 0;
    border-right: 1px solid #eee;
    box-shadow: 0 0 10px #ececec;
    left: -260px;
    transition: left .6s ease-out;
    .sidebar-header {
        padding: 1rem;
        font-size: 2rem;
        font-weight: bold;

        img {
            height: 2.2rem;
        }
    }
    .sidebar-toggler.x {
        position: absolute;
        right: 0;
        top: .5rem;
        display:none;
        color: #fff;
    }
    #sidebarMenu {
        padding-left: 0;
        .nav-item {
            list-style: none;
            margin-top: .5rem;
            position: relative;
            .nav-link {
                display: block;
                padding: .3rem 1.5rem;
                font-size: .85rem;
                display: flex;
                align-items: center;
                transition: all .5s;
                color: #ccc;
                opacity: 0.8;
                & > span {
                    display: inline-flex;
                    margin-left: 1rem;
                    flex:1;
                }   
                &:hover {
                    color: rgb(224, 102, 178);
                    opacity: 1;
                    background-color:rgb(133, 39, 128);
                }             
            }  
            .active {
                background-color: #e8f3ff;
                color: rgb(224, 102, 178)!important;
            }
        }        

        .sidebar-heading {
            font-size: .8rem;
            font-weight: 600;
            color: rgb(217, 255, 1);
            text-transform: uppercase;
        }
        .submenu {
            list-style: none;
            &.active {
                max-height: 500px;
                // transition: max-height 0.2s ease-in;
            }
            li {
                a {
                    padding: .3rem 1.3rem;
                    display: block;
                    color: #ecebeb;
                    font-size: .80rem;
                    font-weight: 500;
                    letter-spacing: .5px;
                    transition: all .2s;
                    &:hover {
                        margin-left: .3rem;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .sidebar-wrapper {
        left: -270px;   
        .sidebar-toggler.x  {
            display:block;
        }
    }
}