<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Binary Quest">
    <title>{{ title }} - bqAdmin</title>
    {% block stylesfirst %}{% endblock %}
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/cheatsheet.css">
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon">
</head>
<body>
    <div id="app">
        <div id="sidebar" class='active'>
            {% include "layouts/_sidebar.html" %}
        </div>        
        <div id="main"> 
            {% include "layouts/_top-header.html" %}
            <main class="ms-sm-auto px-4">           
                {% block content %}{% endblock %}
            </main> 
            <footer>
                <div class="footer d-flex clearfix text-muted">
                    <div class="container-fluid">
                        <div class="row justify-content-end">
                            <div class="col-md-6">
                                <p>2021 &copy; bqAdmin Theme, Powerd by <a href="http://binaryquest.com" target="_blank">Binary Quest</a></p>
                            </div>
                        </div>
                    </div>                   
                </div>
            </footer>           
        </div>        
    </div>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/cheatsheet.js"></script>
    {% block js %}{% endblock %}
</body>
</html>