<div class="sidebar-wrapper">
    <div class="sidebar-header">
        <img src="assets/images/bq-logo-w.png" alt="BQ LOGO" srcset="">
    </div>    
    <nav id="sidebarMenu" class="col-md-12 d-md-block">
        <div class="position-sticky pt-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">
                        <i class="fas fa-home"></i>
                        <span>Dashboard</span>                        
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cheatsheet.html">
                        <i class="far fa-caret-square-right"></i>
                        <span>Cheatsheet</span>                        
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#components" role="button" aria-expanded="true" aria-controls="components">
                        <i class="far fa-caret-square-right"></i>
                        <span>Components</span>                        
                    </a>
                    <ul class="collapse submenu" id="components">
                        <li><a class="" href="#">Alert</a></li>
                        <li><a class="" href="#">Badge</a></li>
                        <li><a class="" href="#">Breadcrumb</a></li>
                        <li><a class="" href="#">Buttons</a></li>
                        <li><a class="" href="#">Card</a></li>
                        <li><a class="" href="#">Carousel</a></li>
                        <li><a class="" href="#">Dropdowns</a></li>
                    </ul>                        
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#form-elements" role="button" aria-expanded="false" aria-controls="form-elements">
                        <i class="far fa-caret-square-right"></i>
                        <span>Form Elements</span>                        
                    </a>
                    <ul class="collapse submenu" id="form-elements">
                        <li><a class="" href="#">Overview</a></li>
                        <li><a class="" href="#">Form control</a></li>
                        <li><a class="" href="#">Select</a></li>
                        <li><a class="" href="#">Checks & radios</a></li>
                        <li><a class="" href="#">Range</a></li>
                        <li><a class="" href="#">Input group</a></li>
                        <li><a class="" href="#">Floating labels</a></li>
                    </ul>                        
                </li>               
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="far fa-caret-square-right"></i>
                        <span>Form Layout</span>                        
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="far fa-caret-square-right"></i>
                        <span>Form Editor</span>                        
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="far fa-caret-square-right"></i>
                        <span>Table</span>                        
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="far fa-caret-square-right"></i>
                        <span>Datatable</span>                        
                    </a>
                </li>
            </ul>
    
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
                <span>EXTRA UI</span>
            </h6>
            <ul class="nav flex-column mb-2">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="far fa-caret-square-right"></i>
                        <span>Widgets</span>                        
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="far fa-caret-square-right"></i>
                        <span>Charts</span>                        
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <button class="sidebar-toggler btn x"><i class="fas fa-times"></i></button>
</div>